# dependencies
node_modules/

# next.js
.next/
out/

# vercel
.vercel/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local

# capacitor
mobile/www/
mobile/android/
mobile/ios/
!mobile/capacitor.config.ts

# temp
/tmp/
*.txt
*.json
!package.json
!tsconfig.json
!manifest.json
!.vercel/project.json
!vercel.json
